h1 {
  text-align: center;
  flex-basis: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.errors {
  text-align: center;
  flex-basis: 100%;
  border: 1px solid red;
  background-color: #e55;
  color: white;
}

.col {
  vertical-align: top;
}

.col ul {
  list-style-type: none;
}

.col.input-org {
  flex: 1;
}

.col.list-repos {
  flex: 2;
}

.col.list-commits {
  flex: 3;
}
