.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  flex-basis: 100%;
}

.header a {
  color: black;
  text-decoration: none;
}

.header em {
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.errors {
  text-align: center;
  flex-basis: 100%;
  border: 1px solid red;
  background-color: #e55;
  color: white;
}

.col {
  vertical-align: top;
  margin: 0 auto;
}

.col ul {
  list-style-type: none;
}

.col.input-org {
  flex-shrink: 1;
}

.col.input-org input[type="text"] {
  width: 20rem;
  font-size: 1rem;
  height: 2rem;
}

.col.input-org input[type="submit"] {
  width: 100%;
  height: 2rem;
  font-weight: bold;
}

.col.list-repos {
  flex-shrink: 2;
  margin: 0 2rem;
}

.col.list-repos ul {
  margin-top: 0;
  padding-left: 0;
}

.col.list-repos .repo {
  display: flex;
  height: 2rem;
  align-items: center;
  padding: 0.5rem;
  border: 0.5px solid #aaa;
}

.col.list-repos .repo.selected {
  background-color: #ddd;
  border: 1px solid #666;
}

.col.list-repos .repo .score {
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.col.list-commits {
  flex: 2;
}

.col.list-commits ul {
  margin-top: 0;
  padding-left: 0;
}

.col.list-commits .commit {
  display: flex;
  min-height: 2rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  align-items: center;
  border: 0.5px solid #aaa;
  position: relative;
}

.col.list-commits .commit:last-child {
  padding: 0.5rem;
  font-size: 1rem;
  justify-content: center;
}

.col.list-commits .commit .message {
  margin-right: 5rem;
}

.col.list-commits .commit .date {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  opacity: 0.4;
}

.col.list-commits .commit .link {
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
}
